@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --content-width: 62%;
  --border-width: 2px;

  --color-neutral-5: #faf9fd;
  --color-neutral-10: #f5f5f8;
  --color-neutral-15: #f0eff4;
  --color-neutral-20: #e6e5eb;
  --color-neutral-25: #dddce3;
  --color-neutral-30: #d6d5de;
  --color-neutral-35: #cfcdd8;
  --color-neutral-40: #c6c5d0;
  --color-neutral-45: #bdbcc9;
  --color-neutral-50: #b5b4c8;
  --color-neutral-55: #a8a7b8;
  --color-neutral-60: #949299;
  --color-neutral-65: #837f8c;
  --color-neutral-70: #767482;
  --color-neutral-75: #636071;
  --color-neutral-80: #5c5a6e;
  --color-neutral-85: #464e5c;
  --color-neutral-90: #2c3443;
  --color-neutral-95: #1c2430;
}

html,
body {
  @apply text-base bg-neutral-5 text-neutral-95 dark:bg-neutral-95 dark:text-neutral-5;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

main {
  @apply w-(--content-width) col-span-5 flex flex-col gap-12 pr-16 pb-16;
}

h1 {
  @apply font-mono font-semibold text-3xl text-neutral-90 dark:text-neutral-10 mb-2;
}

h2 {
  @apply font-mono font-semibold text-lg text-neutral-90 dark:text-neutral-40 mb-4;
}

h3 {
  @apply font-mono font-semibold text-neutral-90 dark:text-neutral-5;
}

p {
  @apply text-base/7 text-neutral-95 dark:text-neutral-30;
}

.side-nav {
  @apply col-start-4 gap-8 py-8 flex flex-col font-mono font-medium text-neutral-70 dark:text-neutral-70;
}
.side-nav .nav-item {
  @apply flex flex-row gap-4 items-center hover:text-neutral-95 dark:hover:text-neutral-5 cursor-pointer;
}
.side-nav .nav-item .indicator {
  @apply opacity-0 w-0 overflow-hidden transition-all duration-300 ease-in-out;
}
.side-nav .nav-item.active {
  @apply font-semibold text-neutral-95 dark:text-neutral-5;
}
.side-nav .nav-item.active .indicator {
  @apply opacity-100 w-3;
}

.section {
  @apply py-4;
}

.rounded-box {
  @apply bg-white dark:bg-neutral-90 text-neutral-95 dark:text-neutral-5 rounded-md border-(length:--border-width) border-neutral-80 dark:border-neutral-30 py-5;
}
.rounded-box .box-header {
  @apply flex flex-col gap-2 font-mono px-5;
}
.rounded-box .box-header .box-title {
  @apply tracking-tight;
}
.rounded-box .box-header .title-aside {
  @apply font-medium tracking-normal text-neutral-90 dark:text-neutral-40;
}
.rounded-box .box-header .date-label {
  @apply font-medium tracking-tight text-neutral-90 dark:text-neutral-40;
}
.rounded-box .box-header .box-subtitles {
  @apply flex flex-col gap-1;
}
.rounded-box .box-header .subtitle {
  @apply font-medium tracking-normal text-[0.925rem] text-neutral-65 dark:text-neutral-40;
}
.rounded-box .box-content {
  @apply mt-5 px-5;
}
.rounded-box .box-footer {
  @apply flex flex-wrap gap-3 /* border-t-(length:--border-width) border-neutral-80 dark:border-neutral-30*/ mt-5 px-5;
}

.pill {
  @apply h-8 inline-flex items-center gap-2 rounded-md font-mono text-sm font-medium px-3;
}
.pill.primary {
  @apply bg-neutral-90 dark:bg-neutral-20 text-neutral-5 dark:text-neutral-90;
}
.pill.secondary {
  @apply bg-neutral-25 dark:bg-neutral-85 text-neutral-90 dark:text-neutral-10 /*border-(length:--border-width) border-neutral-85 dark:border-neutral-30*/;
}
.pill.primary:hover {
  @apply bg-neutral-85 dark:bg-neutral-30;
}
.pill.secondary:hover {
  @apply bg-neutral-30 dark:bg-neutral-80 /*border-(length:--border-width) border-neutral-80 dark:border-neutral-30*/;
}
